*{
    padding: 0;
    margin: 0;
    background-color:white;
}    
.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    height:100px;
    padding-left: 1200px;
}
.a{
    padding:10px;
    color:black;
    font-size: large;
}
.home{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 50px;
    height:110px;
}
h1{
    color:black;
    text-align: center;
}
h2{
    color:purple;
    padding-left:60px;
    padding-top: 20px;
}
.image{
      padding-top: 60px;
      padding-right: 250px;
}
.img{
    float:right;
    width: 200px;
    height: 200px;
    border-radius: 100%;
}
p{
    color:black;
    padding-left: 50px;
    padding-top: 20px;
}
.box{
    padding-bottom: 100px;
    margin: 50px;
}
.c{
    padding-left: 30px;
    
}
h3{
    color:black;
    padding-left: 30px;
    padding-bottom: 10px;
}
.b{
    color:black;
    padding-bottom: 10px;
}
.fa {
  padding: 20px;
  padding-top: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}
.fa-linkedin {
  background: #007bb5;
  color:green;
}
.mail{
    text-align: center;
}
.icon{
    text-align: center;
}
.img1{
    height: 50px;
}

    
   
